{% extends "contas/email_base.html" %}

{% block preheader %}Recebemos um pedido para excluir de vez a sua conta na CodeQuest. O link vale por {{ minutos }} minutos.{% endblock %}

{% block selo %}EXCLUSÃO DE CONTA{% endblock %}

{% block titulo %}Excluir<br />sua conta{% endblock %}

{% block corpo %}
<p class="px-body" style="margin:0 0 16px 0; font-family:'VT323','Courier New',monospace; font-size:21px; line-height:1.6; color:#cfc8e0;">
  Olá, <span style="color:#c084fc;">{{ nickname }}</span>!
</p>
<p class="px-body" style="margin:0; font-family:'VT323','Courier New',monospace; font-size:21px; line-height:1.6; color:#cfc8e0;">
  Recebemos um pedido para excluir de vez a sua conta na CodeQuest. Se foi você, clique no botão abaixo e confirme com a sua senha. A exclusão é definitiva e não tem como desfazer.
</p>
{% endblock %}

{% block rodape %}Se não foi você, ignore esta mensagem: nada acontece até alguém abrir o link e confirmar com a senha.{% endblock %}
